PORT=5000
NODE_ENV=development
DATABASE_URL="postgresql://bikeride:bikeride@localhost:5433/bikeride?schema=public"
JWT_SECRET=change_me
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
PAYMENT_KEY_ID=
PAYMENT_KEY_SECRET=
PAYMENT_WEBHOOK_SECRET=
MAP_API_KEY=
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
DEFAULT_PICKUP_RADIUS_KM=2
DEFAULT_DESTINATION_RADIUS_KM=2
DEFAULT_TIME_WINDOW_MINUTES=30
PLATFORM_FEE_FLAT=5
TRACKING_SNAPSHOT_INTERVAL_MS=20000
TRACKING_STALE_AFTER_MS=30000

WAY2API_RC_URL=https://app.way2api.com/api/v1/rc/verify
WAY2API_API_KEY=w2a_27ecc20e39d1e325b250176422646ff27024d4d7fe339b197129b90fdf7cc17d03a1900cfd25fb04fd83aac55e4f0008
WAY2API_TIMEOUT_MS=15000
CLOUDINARY_CLOUD_NAME=ule5rasc
CLOUDINARY_API_KEY=219218819775763
CLOUDINARY_API_SECRET=FXbhd5G-TCLl3B37ssTL6b890n8
CLOUDINARY_FOLDER=bikeride
